:root {
  --primary-color: #265bc7;
  --muted-text-color: #bcc0c9;
  --background-color: #ececec;
  --online-color: #12b76a;
  --offline-color: #d0d5dd;
  --active-color: #3f9bfc;
  --dark-gray-color: #667085;

  --gradient-background: linear-gradient(0deg, #ececec 0%, #dcf7ff 100%);

  --text-size: 14px;

  --font-family: "Inter", sans-serif;

  --padding: 16px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  background: var(--background-color);
}

.main {
  display: grid;
  min-height: 100vh;
  place-items: center;
}

.container {
  background-color: white;
  border: 1px solid #e5e7eb;
  width: 360px;
  max-width: 100%;
}

/* Start: Section 1 - Search Input */

.search {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: var(--padding);
  border-bottom: 1px solid var(--background-color);
}

.search > img {
  width: 24px;
  cursor: pointer;
}

.search > .clear-btn {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search > input {
  border: none;
  outline: none;
  flex: 1;
}

.search > input::placeholder {
  color: var(--muted-text-color);
}

/* End: Section 1 - Search Input */
